@import "libs/reset";
@import "variables";

body {
    background-color: $white;
    color: $colorGrayDark;
    overflow-y: scroll;
}

@font-face {
    font-family: 'oswald-regular';
    src: url('~assets/fonts/font-oswald/oswald-regular.otf') format('opentype');
}

@font-face {
    font-family: 'sourcesanspro-regular';
    src: url('~assets/fonts/font-sourcesanspro/sourcesanspro-regular.otf') format('opentype');
}

