/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$colorBlue:rgba(57, 194, 215, 0.3);
$colorDarkBlue:#1A9CB0;
$colorGreenLime: #A3C644;
$colorPlum: #8E244D;
$colorRaspberry: #B22746;
$colorBlack:#333;
$colorGrayDark: #464547;
$colorGrayMedium: #666;
$colorGray:#999;
$colorGrayBg: #F5F5F5;
$white: #fff;
$colorOpcPlum:rgba(203, 35, 35, 0.4);
$colorOpcGreenLime:rgba(163, 198, 68, 0.3);
$colorOpcYellow:rgba(255, 220, 25, 0.3);