.todo-list-container {
    float: right;
    width: 70%;
    box-sizing: border-box;
    .to-do-item {
        height: 30px;
        border: 1px solid #ccc;
        line-height: 30px;
        p {
            display: inline-block;
            margin-left: 10px;
        }
        .edit-item {
            float: right;
            margin: 6px 6px 0 0;
            background: url("../../../assets/img/edit.png") no-repeat;
            background-size: contain;
            width: 15px;
            height: 15px;
        }
    }
}