.todo-list-container {
    width: 40%;
    .to-do-item {
        height: 30px;
        border: 1px solid #ccc;
        line-height: 30px;
        p {
            display: inline-block;
            margin-left: 10px;
        }
    }
}