.cotegory-container {
  float: left;
  //background: #ccc;
  width: 30%;
  box-sizing: border-box;
  .cotegory-item {
    height: 30px;
    border: 1px solid #999;
    line-height: 30px;
    p {
      display: inline-block;
      margin-left: 10px;
    }
    .delete-item {
      float: right;
      margin: 6px 6px 0 0;
      background: url("../../../assets/img/delete.png") no-repeat;
      background-size: contain;
      width: 15px;
      height: 15px;

    }
  }
}