.esit-item-container {
    float: right;
    width: 70%;
    box-sizing: border-box;
    border: 1px solid black;
    div {
        margin: 10px 0 10px 5px;
        textarea{
            width: 90%;
            height: 300px;
        }
    }
}